/GPATH
/GRTAGS
/GTAGS
/TestPacking.cbp
/TestPacking.depend
/TestPacking.layout
/ans.txt
/bin/
/build/
/collect-dependences.sh
/copy-deps.sh
/deps/
/input structure.json
/obj/
/run_test_case.sh
/test.txt
/test_data/
/test_packing3d
/upload.sh
